/* Main file where author styles to be added */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

#search-field {
    margin-right: 15px;
}

#heading {
    margin-top: 5%;
    text-align: center;
}

#email-input-text {
    margin-bottom: 3%;
    text-align: left;
}

.nav-item {
    float: right;
    align-items: flex-end;
}

#cl-effect-14 {
    margin-bottom: 5%;
}

#readme {
    border: 0px;
    margin-bottom: 2%;
}

.cl-effect-14 a::before, .cl-effect-14 a::after {
    background: #f39c12 !important;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: #f39c12 !important;
}

.card-link {
    color: white;
    font-style: italic;
}

.card-link:hover {
    color: #f39c12 !important;
}

#genres-list {
    margin-top: 3%;
}

.table-dark span {
    cursor: pointer;
}

.table-dark td :hover {
    color: #f39c12;
}

#send-button {
    float: right;
}

div.left-margin {
    margin-left: 30px;
}

.input-group.md-form.form-sm.form-1 input {
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input.amber-border {
    border: 1px solid #ffca28;
}

#the-outsider-img {
    /* height: auto; */
    /* width: 15%; */
    display: block;
    float: left;
    margin-right: 15px;
}

.logo-img {
    width: 63px;
    height: 27px;
}

#search-btn {
    margin-left: 15px;
    margin-right: 15px;
}

#search-dropdown {
    border-radius: 5px;
}

#faq {
    margin-bottom: 3%;
    text-align: left;
}

#logo-img-link::before, #logo-img-link::after {
    background: #303030 !important;
}

#logo-img-link:hover, #logo-img-link:focus {
    color: #303030 !important;
}

.toast {
    position: fixed;
    top: 21px;
    right: 22px;
}

p {
    padding-top: 5px;
}

.hidden {
    display: none;
}

#loading-text {
    margin-top: 3px;
}

.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-1 {
    padding: 9%;
    background: #282726;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3 {
    text-align: center;
    margin-bottom: 12%;
    color: #fff;
}

.login-form-2 {
    padding: 9%;
    background: #f39c12;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-2 h3 {
    text-align: center;
    margin-bottom: 12%;
    color: #282726;
}

.btnSubmit {
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
}

.btnRegister {
    font-weight: 600;
    width: 50%;
    color: #fff;
    background-color: #282726;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
}

.btnForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.btnForgetPwd:hover {
    text-decoration: none;
    color: #fff;
}

div.hidden {
    display: none
}

#book-item {
    cursor: pointer;
}