/* Main file where author styles to be added */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body {
    /* in case */
    /* background-color: #333333; */
}

#heading {
    margin-top: 5%;
    text-align: center;
}

#email-input-text {
    margin-bottom: 3%;
    text-align: left;
}

.nav-item {
    float: right;
    align-items: flex-end;
}

#cl-effect-14 {
    margin-bottom: 5%;
}

#readme {
    border: 0px;
    margin-bottom: 2%;
}

.cl-effect-14 a::before,
.cl-effect-14 a::after {
    background: #f39c12 !important;
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
    color: #f39c12 !important;
}

.card-link {
    color: white;
    font-style: italic;
}

.card-link:hover {
    color: #f39c12 !important;
}

#genres-list {
    margin-top: 3%;
}

.table-dark span {
    cursor: pointer;
}

.table-dark td :hover {
    color: #f39c12;
}

#send-button {
    float: right;
}

div.left-margin {
    margin-left: 30px;
}

.input-group.md-form.form-sm.form-1 input {
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input.amber-border {
    border: 1px solid #ffca28;
}

#the-outsider-img {
    height: auto;
    width: 15%;
    display: block;
    float: left;
    margin-right: 15px;
}

.logo-img {
    width: 63px;
    height: 27px;
}

#search-btn {
    margin-left: 15px;
    margin-right: 15px;
}

#search-dropdown {
    border-radius: 5px;
}

#faq {
    margin-bottom: 3%;
    text-align: left;
}

#logo-img-link::before,
#logo-img-link::after {
    background: #303030 !important;
}

#logo-img-link:hover,
#logo-img-link:focus {
    color: #303030 !important;
}